.dash-spreadsheet tr:hover td.dash-cell {
    background-color: #43ac6a !important;
    border-top: 1px solid #43ac6a !important;
    border-bottom: 1px solid #43ac6a !important;
    color: white !important;
}

.dash-spreadsheet tr:hover td.dash-select-cell {
    background-color: #43ac6a !important;
    border-top: 1px solid #43ac6a !important;
    border-bottom: 1px solid #43ac6a !important;
    color: white !important;
}

.dash-spreadsheet tr td.dash-select-cell input {
    cursor: pointer !important;
}

.mantine-Input-input, .mantine-DatePickerInput-input {
    font-family: Helvetica;
}
button, input, select, textarea {
    font-family: Helvetica;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica;
}

.Select-input, .Select-control {
    height: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Select-value, .Select-value-label, .Select--single {
    height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.plots-dropdown-button {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    height: 30px !important;
    font-family: Helvetica;
    font-size: 14px;
    border-radius: 5px;
    vertical-align: middle !important;
}

/* https://community.plotly.com/t/style-datatable-tooltip-conditional/28563/2
.dash-tooltip:before, .dash-tooltip:after {
    border-top-color: #43ac6a !important;
    border-bottom-color: #43ac6a !important;
} */

#loading {
    display: none !important;
}

body:has(#_pages_content[data-dash-is-loading="true"]) #loading {
    display: flex !important;
}