.dash-spreadsheet tr:hover td.dash-cell {
    background-color: #43ac6a !important;
    border-top: 1px solid #43ac6a !important;
    border-bottom: 1px solid #43ac6a !important;
    color: white !important;
}

.dash-spreadsheet tr:hover td.dash-select-cell {
    background-color: #43ac6a !important;
    border-top: 1px solid #43ac6a !important;
    border-bottom: 1px solid #43ac6a !important;
    color: white !important;
}

.dash-spreadsheet tr td.dash-select-cell input {
    cursor: pointer !important;
}

.mantine-Input-input, .mantine-DatePickerInput-input {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
button, input, select, textarea {
    font-family: Helvetica;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica;
}

.Select-input, .Select-control {
    height: 30px !important;
    vertical-align: middle !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Select-value, .Select-value-label, .Select--single {
    height: 30px !important;
    vertical-align: middle !important;
    display: flex;
    align-items: center;
}
.plots-dropdown-button {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    height: 30px !important;
    font-family: Helvetica;
    font-size: 14px;
    border-radius: 5px;
    vertical-align: middle !important;
}
.plots-input-button {
    height: 30px;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 14px
}

#add-hist-price-button:hover,
#add-candlestick-button:hover,
#add-price-overlays-button:hover,
#add-volume-button:hover,
#add-drawdowns-button:hover,
#add-bollinger-button:hover,
#add-boll-width-button:hover,
#add-ma-env-button:hover,
#add-ma-ribbon-button:hover,
#add-macd-button:hover,
#add-impulse-macd-button:hover,
#add-atr-button:hover,
#add-mvol-button:hover,
#add-ulcer-button:hover,
#add-rsi-button:hover,
#add-stochastic-button:hover,
#add-diff-1-button:hover,
#add-diff-2-button:hover,
#add-diff-3-button:hover,
#add-diff-stochastic-button:hover
{
    border-color: rgb(152, 242, 178) !important;
    background-color: rgb(152, 242, 178) !important;
}

#remove-hist-price-button:hover,
#remove-candlestick-button:hover,
#remove-price-overlays-button:hover,
#remove-volume-button:hover,
#remove-drawdowns-button:hover,
#remove-bollinger-button:hover,
#remove-boll-width-button:hover,
#remove-ma-env-button:hover,
#remove-ma-ribbon-button:hover,
#remove-macd-button:hover,
#remove-impulse-macd-button:hover,
#remove-atr-button:hover,
#remove-mvol-button:hover,
#remove-ulcer-button:hover,
#remove-rsi-button:hover,
#remove-stochastic-button:hover,
#remove-diff-1-button:hover,
#remove-diff-2-button:hover,
#remove-diff-3-button:hover,
#remove-diff-stochastic-button:hover
{
    border-color: rgb(255, 178, 185) !important;
    background-color: rgb(255, 178, 185) !important;
}

#collapse-button-general-tab:hover,
#collapse-button-prices-tab:hover,
#collapse-button-volume-tab:hover,
#collapse-button-trend-tab:hover,
#collapse-button-differential-tab:hover,
#collapse-button-volatility-tab:hover,
#collapse-button-momentum-tab:hover
{
    border-color: rgb(0, 115, 125) !important;
    background-color: rgb(0, 115, 125) !important;
}

.plots-color-icon {
    display: inline-block;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-radius: 2px;
}

.popover-arrow:before, .popover-arrow:after {
    border-right-color: rgb(211, 211, 211) !important;
}

/* https://community.plotly.com/t/style-datatable-tooltip-conditional/28563/2
.dash-tooltip:before, .dash-tooltip:after {
    border-top-color: #43ac6a !important;
    border-bottom-color: #43ac6a !important;
} */

#loading {
    display: none !important;
}

body:has(#_pages_content[data-dash-is-loading="true"]) #loading {
    display: flex !important;
}